{% load static %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Personal blog">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="icon" type="image/x-icon" href="{% static '/images/favicon.ico' %}">
    <title>{{ title }}</title>
  </head>
  <body style="background-color: #FAF9F9;">
    <header>
      {% include 'components/navbar.html' %}
    </header>
    <main class="content">
      {% include 'components/messages.html' %}
      {% block additional %}{% endblock %}
      {% block content %}{% endblock %}
    </main>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/messages.js' %}"></script>
  </body>
</html>
