<nav class="uk-navbar-container">
  <div class="uk-container">
    <div uk-navbar>
      <div class="uk-navbar-left">
        <a href="{% url 'index' %}" class="uk-navbar-item uk-logo">EMPTY BLOG</a>
      </div>
      <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">
          {% if user.is_authenticated %}
          <li class="uk-active uk-button-text"><a href="{% url 'posts:latest' %}">Latest</a></li>
          {% endif %}
          <li class="uk-active"><a href="{% url 'posts:feed' %}">Posts</a></li>
          <li class="uk-active"><a href="{% url 'blog:about' %}">About</a></li>
          <li class="uk-active"><a href="{% url 'blog:contacts' %}">Contacts</a></li>
          <li class="uk-active"><a href="https://github.com/emp7yhead/empty-blog/issues/new">Report an issue</a></li>
        </ul>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          {% if user.is_authenticated %}
            <li class="uk-active uk-button-text">
              <a href="{% url 'users:profile' user.id %}">
                <strong>Profile</strong>
              </a>
            </li>
            <li>
              <a href="{% url 'users:logout' %}">
                <strong>Log Out</strong>
              </a>
            </li>
            {% else %}
            <li class="uk-active uk-button-text">
              <a href="{% url 'users:join' %}">
                <strong>Sign up</strong>
              </a>
            </li>
            <li class="uk-active">
              <a href="{% url 'users:login' %}">
                Log in
              </a>
            </li>
            {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>
